vendor
node_modules
.env
.env.*
!.env.example
database/*.sqlite
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
.git
.gitignore
Dockerfile
.dockerignore
